[submodule "Env/entt"]
	path = Env/entt
	url = https://github.com/skypjack/entt.git
	ignore = all
[submodule "Env/glfw"]
	path = Env/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
[submodule "Env/ktm"]
	path = Env/ktm
	url = https://github.com/YGXXD/ktm.git
	ignore = all
[submodule "Env/assimp"]
	path = Env/assimp
	url = https://github.com/assimp/assimp.git
	ignore = all
[submodule "Env/stb"]
	path = Env/stb
	url = https://github.com/nothings/stb.git
	ignore = all
[submodule "Env/marl"]
	path = Env/marl
	url = https://github.com/google/marl.git
	ignore = all
[submodule "Env/CabbageHardware"]
	path = Env/CabbageHardware
	url = https://github.com/CoronaEngine/CabbageHardware.git
	ignore = all