# Build outputs
/build/
/install/
/out/
/dist/
/cmake-build-*/

# CMake intermediate files
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.ninja
Makefile
*.vcxproj*
*.sln

# Local IDE settings
.vscode/
.idea/
.vs/

# Tool caches
**/.cache/

# third-party libraries (manually added)
/third_party/

# Log files
*.log